{% extends "admin/adminmaster.html.twig" %}

{% block title %}Delete Vehicle{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-8 col-lg-6">
    <p>Are you sure you want to delete the following vehicle?</p>
    <p><strong>ID:</strong> {{ vehicle.id }}</p>
    <p><strong>Make:</strong> {{ vehicle.make }}</p>
    <p><strong>Model:</strong> {{ vehicle.model }}</p>
    <p><strong>Year:</strong> {{ vehicle.year }}</p>
    <form method="post" action="/admin/deletevehicle/{{ vehicle.id }}">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
{% endblock %}

{# {% extends "admin/adminmaster.html.twig" %}

{% block title %}Delete Vehicle{% endblock %}

{% block content %}
  <h1>Delete Vehicle</h1>
  <p>Are you sure you want to delete the following vehicle?</p>
  <p><strong>ID:</strong> {{ vehicle.id }}</p>
  <p><strong>Make:</strong> {{ vehicle.make }}</p>
  <p><strong>Model:</strong> {{ vehicle.model }}</p>
  <p><strong>Year:</strong> {{ vehicle.year }}</p>
  <form method="post" action="/admin/deletevehicle/{{ vehicle.id }}">
    <button type="submit">Delete</button>
  </form>
{% endblock %} #}

