{% extends "admin/adminmaster.html.twig" %}

{% block title %}Edit Vehicle{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
          
      <h1>Edit Vehicle</h1>

      <form method="POST" action="/admin/editvehicle/{{ vehicle.id }}">
        <table>
          <tbody>
            <tr>
              <td><label for="make">Make:</label></td>
              <td><input type="text" id="make" name="make" class="form-control" value="{{ vehicle.make }}"></td>
            </tr>

            <tr>
              <td><label for="model">Model:</label></td>
              <td><input type="text" id="model" name="model" class="form-control" value="{{ vehicle.model }}"></td>
            </tr>

            <tr>
              <td><label for="year">Year:</label></td>
              <td><input type="number" id="year" name="year" class="form-control" value="{{ vehicle.year }}"></td>
            </tr>

            <tr>
              <td><label for="color">Color:</label></td>
              <td><input type="text" id="color" name="color" class="form-control" value="{{ vehicle.color }}"></td>
            </tr>

            <tr>
              <td><label for="license_plate">License Plate:</label></td>
              <td><input type="text" id="license_plate" name="license_plate" class="form-control" value="{{ vehicle.license_plate }}"></td>
            </tr>

            <tr>
              <td><label for="daily_rate">Daily Rate:</label></td>
              <td><input type="number" id="daily_rate" name="daily_rate" step="0.01" class="form-control" value="{{ vehicle.daily_rate }}"></td>
            </tr>

            <tr>
              <td><label for="availability">Availability:</label></td>
              <td><input type="text" id="availability" name="availability" class="form-control" value="{{ vehicle.availability }}"></td>
            </tr>

            <tr>
              <td><label for="seats">Seats:</label></td>
              <td><input type="number" id="seats" name="seats" class="form-control" value="{{ vehicle.seats }}"></td>
            </tr>

            <tr>
              <td><label for="lper100">L/100km:</label></td>
              <td><input type="number" id="lper100" name="lper100" step="0.01" class="form-control" value="{{ vehicle.lper100 }}"></td>
            </tr>
          </tbody>
        </table>

        <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
