{% extends "admin/adminmaster.html.twig" %}

{% block title %}All Reservations{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-left mt-5 mb-5">
    <div class="col-md-8 col-lg-6">
    
  <h1>Reservations</h1>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Vehicle ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Rental Price</th>
        <th>Insurance Price</th>
        <th>Taxes</th>
        <th>Total</th>
        <th>Notes</th>
        <th>Payment Confirmation</th>
      </tr>
    </thead>
    <tbody>
      {% for item in reservations %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.customer_id }}</td>
          <td>{{ item.vehicle_id }}</td>
          <td>{{ item.start_date }}</td>
          <td>{{ item.end_date }}</td>
          <td>{{ item.rental_price }}</td>
          <td>{{ item.insurance_price }}</td>
          <td>{{ item.taxes }}</td>
          <td>{{ item.total }}</td>
          <td>{{ item.notes }}</td>
          <td>{{ item.payment_confirmation }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="mt-4">
  <button class="btn btn-primary btn-sm" onclick="location.href='reservationslist'">Add Reservation</button>
</div>
{% endblock %}

