{% extends "admin/adminmaster.html.twig" %}

{% block title %}All Users{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-left mt-5 mb-5">
    <div class="col-md-8 col-lg-12">
    
  <h1>All Users</h1>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
      <button class="btn btn-primary btn-sm" onclick="location.href='adduser'">Add a new user</button></br>

    <thead></br>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Date of Birth</th>
        <th>Driver's License</th>
        <th>License Expiration</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.dob }}</td>
          <td>{{ user.license }}</td>
          <td>{{ user.license_expiration }}</td>
          <td><a href="/admin/edituser/{{ user.id }}" class="btn btn-secondary btn-sm">Edit</a></td>
          <td><a href="/admin/deleteuser/{{ user.id }}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
