{% extends "admin/adminmaster.html.twig" %}

{% block title %}All Vehicles{% endblock %}

{% block content %}

<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-8 col-lg-6">
    
  <h1>All Vehicles</h1>
  <table class="listTable">
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
        <th>License Plate</th>
        <th>Daily Rate</th>
        <th>Availability</th>
        <th>Seats</th>
        <th>L/100km</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for vehicle in vehicles %}
        <tr>
          <td>{{ vehicle.make }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.year }}</td>
          <td>{{ vehicle.color }}</td>
          <td>{{ vehicle.license_plate }}</td>
          <td>{{ vehicle.daily_rate }}</td>
          <td>{{ vehicle.availability }}</td>
          <td>{{ vehicle.seats }}</td>
          <td>{{ vehicle.lper100 }}</td>
          <td><img src="/{{ vehicle.image_filepath }}" width="100"></td>
        </tr>
      {% endfor %}
    </tbody>
  </table> </br>
  <button class="btn" onclick="location.href='/admin/addvehicle'">Add Vehicle</button></br>
  </div></br>

{% endblock %}
