{% extends "master.html.twig" %}

{% block title %}Add User{% endblock %}

{% block content %}

{% if errorList %}
<ul>
{% for error in errorList %}
<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}

<h1>Add a user</h1>
<form method="post" action="/adduser">
    
<label for="first_name">First Name:</label>
<input type="text" id="first_name" name="first_name" value="{{ u.first_name }}"><br>
    
<label for="last_name">Last Name:</label>
<input type="text" id="last_name" name="last_name" value="{{ u.last_name }}"><br>

<label for="user_type">User Type:</label>
<select id="user_type" name="user_type">
    <option value="admin">Admin</option>
    <option value="customer">Customer</option>
</select><br>

<label for="address">Address:</label>
<input type="text" id="address" name="address" value="{{ u.address }}"><br>

<label for="phone">Phone:</label>
<input type="text" id="phone" name="phone" value="{{ u.phone }}"><br>

<label for="email">Email:</label>
<input type="email" id="email" name="email" value="{{ u.email }}"><br>

<label for="dob">Date of Birth:</label>
<input type="date" id="dob" name="dob" value="{{ u.dob }}"><br>

<label for="license">Driver's License:</label>
<input type="text" id="license" name="license" value="{{ u.license }}"><br>

<label for="license_expiration">License Expiration:</label>
<input type="date" id="license_expiration" name="license_expiration" value="{{ u.license_expiration }}"><br>

<input type="submit" value="Add User">

</form>
{% endblock content %}