{% extends 'master.html.twig' %}

{% block content %}
    <h1>Booking</h1>
    <div class="vehicle-details">
        <img src="/{{ vehicle.image_filepath }}" width="200">
        <p>{{ vehicle.make }} {{ vehicle.model }}</p>
        <p>{{ vehicle.seats }} seats</p>
    </div>
    <form id="booking-form" method="post" action="{{ url_for('booking_details', {'id': vehicle.id}) }}">
        <label for="pickup-date-time">Pickup Date/Time:</label>
        <input type="datetime-local" name="pickupDateTime" id="pickup-date-time" required>
        <br>
        <label for="return-date-time">Return Date/Time:</label>
        <input type="datetime-local" name="returnDateTime" id="return-date-time" required>
        <br>
        <input type="submit" value="Book Now">
    </form>
{% endblock %}
