{% extends 'master.html.twig' %}

{% block content %}
<body class="bookingvehicle">
    <div style="display: flex;">
        <div style="flex: 1;">
            <div style="flex: 1;">
    
<form autocomplete="off" method="post" id="userForm" style="text-align: center;" action="">
  
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required><br><br>
  
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required><br><br>
  
  <label for="address">Address:</label>
  <input type="text" id="address" name="address" required><br><br>
  
  <label for="phone">Phone:</label>
  <input type="text" id="phone" name="phone" required><br><br>
  
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br><br>
  
  <label for="dob">Date of Birth:</label>
  <input type="date" id="dob" name="dob" required><br><br>
 <br><br>
  
  <input type="checkbox" id="tosCheckbox" name="tosCheckbox" required>
  <label for="tosCheckbox">I have read and agree to the Terms of Service</label><br><br>
  

  <input type="hidden" id="vehicleId" name="vehicleId" value="">
  <input type="hidden" id="pickDateTime" name="pickDateTime" value="">
  <input type="hidden" id="returnDateTime" name="returnDateTime" value="">

  {# <input type="hidden" id="returnDateTime" name="returnDateTime" value=""> #}
  <input type="hidden" id="rentalPrice" name="rentalPrice" value="{{ vehicle.daily_rate }}">
  <input type="hidden" id="insurance" name="insurance" value="insurance">
  <input type="hidden" id="tax" name="tax" value="tax">
  <input type="hidden" id="finalPrice" name="finalPrice" value="{{ vehicle.daily_rate * rentalDays * 1.10 }}">
  <input type="hidden" name="make" value="{{ vehicle.make }}">
  <input type="hidden" name="model" value="{{ vehicle.model }}">

  <input type="submit" value="Book" id="bookButton">
</form>




<script> // to ensure that the TOS button is clicked before hitting submit
  const tosCheckbox = document.getElementById('tosCheckbox');
  const bookButton = document.getElementById('bookButton');
  const userForm = document.getElementById('userForm');
  
  // id of vehicle is brought over
const vehicleIdInput = document.getElementById('vehicleId');
const vehicleId = new URLSearchParams(window.location.search).get('vehicleId');
console.log('Vehicle ID:', vehicleId);
vehicleIdInput.value = vehicleId;


  tosCheckbox.addEventListener('change', function() {
    if (this.checked) {
      bookButton.disabled = false;
    } else {
      bookButton.disabled = true;
    }
  });
  
  userForm.addEventListener('submit', function(event) {
    if (!tosCheckbox.checked) {
      event.preventDefault();
      alert('Please accept the Terms of Service to continue.');
    }
  });

  </script>

</div>
   </div>

   {# /////////////////////////////////////////////////////////////// TRIP DETAILS #}
        <div style="flex: 1; text-align: center; margin-left: 15%;">
            <img src="/{{ vehicle.image_filepath }}" width="200">
            <h1>Your Trip Details</h1>
            <p>{{ vehicle.make }} {{ vehicle.model }}, {{ vehicle.seats }} seats</p>
            <p>Pickup Date and Time: <span id="pickupDateTime">{{ pickupDateTime|date('Y-m-d H:i') }}</span></p>
            <p>Return Date and Time: <span id="returnDateTime">{{ returnDateTime|date('Y-m-d H:i') }}</span></p>


            {% set rentalDays = date(returnDateTime).diff(date(pickupDateTime)).days %}
            <p>Daily Price: ${{ vehicle.daily_rate }}</p>
            <p>Rental Days: {{ rentalDays }}</p>

            <form style="text-align: center;">
              {# <input type="checkbox" name="insurance" id="insurance" checked>  #}
              {# <label for="insurance">Take insurance (10% extra)</label><br><br> #}
              <p>Rental Price: $<span id="rentalPrice">{{ vehicle.daily_rate * rentalDays }}</span></p>
              <br>
              <p>Tax (15%): $<span id="tax">{{ vehicle.daily_rate * rentalDays * 0.15 }}</span></p>
              <br>
              <p>Final Rental Price: $<span id="finalPrice">{{ vehicle.daily_rate * rentalDays * 1.15 }}</span></p>
            </form>

            <script>

                const pickupDateTimeSpan = document.getElementById('pickupDateTime');
                const returnDateTimeSpan = document.getElementById('returnDateTime');

                const pickupDateTime = pickupDateTimeSpan.innerText;
                const returnDateTime = returnDateTimeSpan.innerText;

                document.getElementById('pickDateTime').value = pickupDateTime;
                document.getElementById('returnDateTime').value = returnDateTime;

              const insuranceCheckbox = document.getElementById('insurance');
              const totalPriceElement = document.getElementById('totalPrice');
              const taxElement = document.getElementById('tax');
              const finalPriceElement = document.getElementById('finalPrice');

              let totalPrice = {{ vehicle.daily_rate * rentalDays }};
              let tax = {{ vehicle.daily_rate * rentalDays * 0.15 }};
              let finalPrice = {{ vehicle.daily_rate * rentalDays * 1.15 }};

              insuranceCheckbox.addEventListener('change', function() {
                if (this.checked) {
                  totalPrice = {{ vehicle.daily_rate * rentalDays * 1.1 }};
                  tax = {{ vehicle.daily_rate * rentalDays * 1.1 * 0.15 }};
                  finalPrice = {{ vehicle.daily_rate * rentalDays * 1.1 * 1.15 }};
                } else {
                  totalPrice = {{ vehicle.daily_rate * rentalDays }};
                  tax = {{ vehicle.daily_rate * rentalDays * 0.15 }};
                  finalPrice = {{ vehicle.daily_rate * rentalDays * 1.15 }};
                }

                totalPriceElement.textContent = totalPrice.toFixed(2);
                taxElement.textContent = tax.toFixed(2);
                finalPriceElement.textContent = finalPrice.toFixed(2);
              });


            </script>

        </div> 
    </div>
{% endblock %}
