{% extends "master.html.twig" %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}
<style>
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
</style>
<div class="container mt-4">
  <div class="row justify-content-left">
    <div class="col-md-10 col-lg-12">
      <h1>Your Profile</h1>
      <hr class="my-4">
      <ul class="no-bullets">
        <li><strong>Name:</strong> {{ userSession.first_name }} {{ userSession.last_name }}</li>
        <li><strong>Email:</strong> {{ userSession.email }}</li>
        <li><strong>Phone:</strong> {{ userSession.phone }}</li>
        <li><strong>Address:</strong> {{ userSession.address }}</li>
        <li><strong>Date of Birth:</strong> {{ userSession.dob }}</li>
        <!--
        <li><strong>Driver's License:</strong> {{ userSession.license }}</li>
        <li><strong>License Expiration:</strong> {{ userSession.license_expiration }}</li>
        -->
      </ul>
  
      <div class="mt-3">
        <a href="/customerprofileedit" class="btn btn-primary btn-sm">Edit Profile</a>
        <a href="/myreservation" class="btn btn-secondary btn-sm">My Reservations</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}