{% extends 'master.html.twig' %}

{% block content %}
    <h1>My Reservation</h1>
    {% if reservation %}
        <h2>Reservation Details:</h2>
        <ul>
            <li>Reservation ID: {{ reservation.reservation_id }}</li>
            <li>First Name: {{ reservation.first_name }}</li>
            <li>Last Name: {{ reservation.first_name }}</li>
            <li>Email: {{ reservation.email }}</li>
            <li>Pick-up Date: {{ reservation.start_date }}</li>
            <li>Return Date: {{ reservation.end_date }}</li>
            <li>Vehicle:</li>
            <ul>
                <li>Make: {{ reservation.vehicle.make }}</li>
                <li>Model: {{ reservation.vehicle.model }}</li>
                <li>Color: {{ reservation.vehicle.color }}</li>
                <li>License Plate: {{ reservation.vehicle.license_plate }}</li>
            </ul>
        </ul>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
