{% extends 'master.html.twig' %}

{% set message = "You don't have any reservations yet." %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-10 mb-10">
			<div class="col-md-10 col-lg-10">
				<h1>My Reservations</h1>
				{% if reservations %}
					{% for reservation in reservations %} {# if reservation.user_id == user_id #}
						<h2>Reservation Details:</h2>
						<ul>
							<li>Reservation ID: {{ reservation.id }}</li>
							<li>Pick-up Date: {{ reservation.start_date }}</li>
							<li>Return Date: {{ reservation.end_date }}</li>
							<li>Vehicle:</li>
							<ul>
								<li>Make: {{ reservation.vehicle.make }}</li>
								<li>Model: {{ reservation.vehicle.model }}</li>
								<li>Color: {{ reservation.vehicle.color }}</li>
								<li>License Plate: {{ reservation.vehicle.license_plate }}</li>
							</ul>
						</ul>
					{% endfor %}
				{% else %}
					<p>{{ message }}</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

